@font-face {
    font-family: cn_font;
    src: url('/fonts/Noto Serif SC.otf');
}

html:lang(zh-cn) div.lead {
    font-family: cn_font;
    font-size: 14pt;
}


.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.MathJax svg {
    display: inline;
    vertical-align: middle;
    overflow: visible;
  }