@font-face {
    font-family: cn_font;
    src: url('/fonts/Noto Serif SC.otf');
}

 /* html:lang(zh-cn) {
    font-family: cn_font;
} */


.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.MathJax svg {
    display: inline;
    vertical-align: middle;
    overflow: visible;
  }